body{
	margin: 0;
	overflow: hidden;
}
canvas{
	position: relative;
	background: #eee;
	box-sizing: border-box;
	cursor: url("./pencil.png"), default;
}
canvas.pencil{
	cursor: url("./pencil.png"), default;
}
canvas.pen{
	cursor: url("./pen.png"), default;
}
canvas.brush{
	cursor: url("./brush.png"), default;
}
canvas.eraser{
	cursor: url("./eraser.png"), default;
}
aside{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 30px;
	z-index: 999;
}
aside > *{
	font-size: 14px;
	font-family: Arial;
	font-weight: bold;
	margin: 0 5px;
	color: #333;
	float: right;
	height: 30px;
	border: none;
	outline: none;
	display: block;
	border-radius: 5px;
}
aside > *:hover{
	cursor: pointer;
}
button,a{
	width: 80px;
}
a{
	color: #333;
	height: 30px;
	text-align: center;
	border-radius: 5px;
	line-height: 30px;
	display: inline-block;
	background: #DCDCDC;
	text-decoration: none;
}